.containerFullScreen {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--mui-palette-background-default);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.spinner {
  color: var(--mui-palette-primary-main);
}

.message {
  text-align: center;
}
