.container {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  border-top: 1px solid var(--mui-palette-divider);
  background-color: var(--mui-palette-background-paper);
}

@media (max-width: 48rem) {
  .container {
    display: block;
  }
}

.navigation {
  background-color: var(--mui-palette-background-paper);
  height: 3.5rem;
}

.action {
  min-width: 3.75rem;
  padding: 0.375rem 0.75rem 0.5rem;
}

.action.Mui-selected {
  color: var(--mui-palette-primary-main);
}

.action.Mui-disabled {
  opacity: 0.5;
}
